* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
}
