* {
  margin: 0;
  padding: 0;
  background-color: #439a86;
}

.container {
  text-align: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
  padding-top: 100px;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  background-color: #e9d985;
  color: #222e50;
  font-size: 40px;
}

.reset-btn {
  background-color: black;
  padding: 18px;
  color: white;
  border-radius: 18px;
  border: none;
  font-family: sans-serif;
  font-size: 20px;
}
.new-btn {
  background-color: black;
  padding: 18px;
  color: white;
  border-radius: 18px;
  border: none;
  font-family: sans-serif;
  font-size: 20px;
}

.winner {
  font-size: 20px;
  font-family: sans-serif;
  padding-bottom: 12px;
}

.hide {
  display: none;
}
